@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,500;0,600;1,400;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  background: gainsboro;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a link {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
  color: rebeccapurple;
}

h1 {
  padding: 7px;
  margin: 5px;
  font-size: clamp(1.8rem, 3.5rem, 6vw);
  /* min, val, max */
  font-family: "Passion One", cursive;
  font-weight: 900;
}

h2 {
  padding-left: 13px;
  font-size: clamp(1.5rem, 1.8rem, 3vw);
  /* min, val, max */
  font-family: "Passion One", cursive;
  font-weight: 300;
}

h3 {
  padding-left: 13px;
  font-size: clamp(1.2rem, 1.3rem, 2vw);
  /* min, val, max */
  font-family: "Lato", sans-serif;
}

h4 {
  margin-top: 5px;
  padding-left: 17px;
  font-family: "Passion One", cursive;
  font-size: clamp(0.9rem, 1rem, 2vw);
  /* min, val, max */
  font-weight: 100;
}

h5 {
  font-size: 1.5rem;
  padding-left: 20px;
}

p {
  padding: 12px;
  margin-bottom: 5px;
  line-height: 1.5em;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

a,
link {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

a:active,
a:hover,
link {
  color: black;
}

ul {
  display: block;
  padding: 5px;
  font-size: 1rem;
  color: black;
}

li {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  padding-left: 1em;
  margin: 5px;
}

section {
  padding: 7px;
  margin: 5px;
}

small {
  font-size: 0.85rem;
  font-family: "Lato", sans-serif;
}

strong {
  padding: 7px;
  margin: 5px;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

.block {
  padding: 7px;
  margin: 5px;
  padding-left: 10px;
}

.block_card {
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  background: #fafafa;
  max-width: 400px;
}

.block_card small {
  padding: 7px;
  margin: 5px;
}

.border img {
  border-radius: 10px;
}

.bugbar-icon {
  padding: 7px;
  margin: 5px;
  fill: rgba(0, 0, 0, 0.9);
  width: 2.2em;
  height: 2.2em;
  border: 1px solid rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.bugbar-icon:hover {
  fill: #108b00;
  background: gainsboro;
  border-radius: 10px;
}

.bugbarNav__col {
  padding: 7px;
  margin: 5px;
  display: -ms-grid;
  display: grid;
  max-width: 25vw;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.citation {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Crimson Pro", serif;
  margin-top: -20px;
}

.card {
  padding: 7px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
  background: #fafafa;
}

.card__button {
  cursor: pointer;
  font-size: 1rem;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  border: 1px solid gray;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.card__button:hover {
  border: 1px solid black;
  background: white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.container {
  background: #fafafa;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.content {
  min-height: 90vh;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
}

.col-2a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
}

.col-2l {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px 1fr;
      grid-template-columns: 20px 1fr;
}

.col-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.float-left {
  float: left;
}

.first-letter ::first-letter {
  font-size: 1.7rem;
  font-weight: 600;
  color: #0a0a0a;
}

.grid-ish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-ish > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.hero-box {
  margin-top: -10px;
  height: 240px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-box h1 {
  font-size: "Lato", sans-serif;
  color: #fafafa;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.hero-box h2 {
  font-size: "Lato", sans-serif;
  color: #fafafa;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.icon {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  height: 50px;
  width: 50px;
  background: #fafafa;
  border-radius: 5px;
  fill: #4b4b4b;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.icon:hover,
.icon:active {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  background: #e1e1e1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.icon2 {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  height: 40px;
  width: 50px;
  background: #fafafa;
  fill: #0a0a0a;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.icon__star {
  cursor: pointer;
  height: 20px;
  width: 20px;
  fill: #c5b358;
  margin-right: 5px;
}

.icon:hover {
  padding: 7px;
  margin: 5px;
  fill: black;
}

.list-box {
  padding: 7px;
  margin: 5px;
  background-color: rgba(225, 225, 225, 0.5);
  padding: 1em;
  margin: auto 2em;
  border-radius: 12px;
  -webkit-box-shadow: 1px 2px 10px rgba(175, 175, 175, 0.5), -20px 0px 20px rgba(200, 200, 200, 0.1);
          box-shadow: 1px 2px 10px rgba(175, 175, 175, 0.5), -20px 0px 20px rgba(200, 200, 200, 0.1);
  border: 1px solid #c8c8c8;
  max-width: 800px;
}

.list-box li {
  padding: 7px 7px;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 600;
  color: #646464;
}

.multiply {
  mix-blend-mode: multiply;
  max-width: 400px;
}

.section1 {
  -webkit-columns: 400px 2;
          columns: 400px 2;
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
  padding: 7px;
}

.section2 {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
  padding: 7px;
}

.stack {
  display: -ms-grid;
  display: grid;
}

.stack h4 {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Crimson Pro", serif;
}

.svg-quote {
  width: 30px;
  margin-bottom: -15px;
  margin-left: -5px;
}

.svg-quote-sm {
  width: 20px;
}

.quote-box {
  padding: 7px;
  margin: 5px;
  padding-left: 30px;
  margin: 20px;
  padding-right: 30px;
}

.quote-box p {
  font-family: "Crimson Pro", serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

.quote-box-small {
  padding: 7px;
  margin: 5px;
  padding: 1em;
}

.quote-box-small p {
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

.vice {
  height: 100px;
  width: 100px;
}
/*# sourceMappingURL=main.css.map */