@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,500;0,600;1,400;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}

body {
  background: gainsboro;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a link {
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
  color: rebeccapurple;
}

h1 {
  padding: 7px;
  margin: 5px;
  font-size: clamp(1.8rem, 3.5rem, 6vw);
  /* min, val, max */
  font-family: "Passion One", cursive;
  font-weight: 900;
}

h2 {
  padding-left: 13px;
  font-size: clamp(1.5rem, 1.8rem, 3vw);
  /* min, val, max */
  font-family: "Passion One", cursive;
  font-weight: 300;
}

h3 {
  padding-left: 13px;
  font-size: clamp(1.2rem, 1.3rem, 2vw);
  /* min, val, max */
  font-family: "Passion One", cursive;
}

h4 {
  margin-top: 5px;
  padding-left: 17px;
  font-family: "Open Sans", sans-serif;
  font-size: clamp(0.9rem, 1rem, 2vw);
  /* min, val, max */
  font-weight: 700;
}

h5 {
  font-size: 1.5rem;
  padding-left: 20px;
}

p {
  padding-bottom: 12px;
  padding-left: 12px;
  margin-bottom: 5px;
  line-height: 1.5em;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

a,
link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-decoration: underline;
}

a:active,
a:hover,
link {
  color: black;
}

ul {
  display: block;
  padding: 5px;
  font-size: 1rem;
  color: black;
}

li {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  padding-left: 1em;
  margin: 5px;
}

nav {
  padding: 20px;
}

section {
  padding: 7px;
  margin: 5px;
}

small {
  font-size: 0.85rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

strong {
  padding: 7px;
  margin: 5px;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

.one {
  padding: 7px;
  margin: 5px;
  height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  font-size: 0.9rem;
  background: #73ff00;
}

.two {
  padding: 7px;
  margin: 5px;
  height: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: #323232;
  background: #ffee00;
}

.three {
  padding: 7px;
  margin: 5px;
  height: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  color: white;
  background: #ff3300;
}

.block {
  padding: 7px;
  margin: 5px;
}

.block_card {
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  background: white;
  max-width: 400px;
}

.block_card small {
  padding: 7px;
  margin: 5px;
}

.border img {
  border-radius: 10px;
}

.bugbar-icon {
  padding: 7px;
  margin: 5px;
  fill: rgba(0, 0, 0, 0.9);
  width: 2.7em;
  height: 2.7em;
  border: 1px solid rgba(10, 10, 10, 0.9);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.bugbar-icon:hover,
.bugbar-icon:active {
  fill: #108b00;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  border: 1px solid #108b00;
}

.bugbarNav__col {
  padding: 7px;
  margin: 5px;
  display: -ms-grid;
  display: grid;
  max-width: 25vw;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
}

.button__icon {
  width: 40px;
  height: 35px;
  fill: white;
}

.citation {
  font-size: 0.8rem;
  font-weight: 500;
  font-family: "Crimson Pro", serif;
  margin-top: -20px;
}

.card {
  padding: 7px;
  margin: 5px;
  cursor: pointer;
  margin: 10px;
  background: white;
  max-width: 400px;
}

.card img {
  border-radius: 10px;
  border: 1px solid black;
  border-radius: 7px;
}

.card__button {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  padding: 12px;
  width: 100%;
  max-width: 275px;
  border: none;
  font-family: "Crimson Pro", serif;
  font-weight: 900;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 0.2em;
  color: white;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background: #006eff;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card__button:hover {
  background: #108b00;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.card__button:hover svg {
  fill: #0a0a0a;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.citation {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 7px;
}

.container {
  position: relative;
  background: white;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 150px 1fr;
      grid-template-columns: 150px 1fr;
}

.col-2a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
}

.col-2l {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
}

.col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.col-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.col-12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  padding-bottom: 40px;
}

.detail-card {
  background-color: white;
  max-width: 1200px;
}

.float-left {
  float: left;
}

.first-letter ::first-letter {
  font-size: 1.7rem;
  font-weight: 600;
}

.grid-ish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-ish > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.grid-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.grid-small > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60px;
          flex: 1 1 60px;
}

.hero-box {
  margin-top: -10px;
  height: 420px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-box h1 {
  font-size: "Open Sans", sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.hero-box h2 {
  font-size: "Open Sans", sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.menu-icon {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  margin: 15px;
  height: 70px;
  width: 70px;
  background: white;
  fill: white;
  background: #0a0a0a;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}

.menu-icon:hover,
.menu-icon:active {
  background: #e1e1e1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  fill: #006eff;
}

.icon {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 5px;
  fill: #4b4b4b;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.icon:hover,
.icon:active {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  background: #e1e1e1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.icon-large {
  padding: 7px;
  margin: 5px;
  background-color: #006eff;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  fill: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.icon2 {
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  height: 40px;
  width: 50px;
  background: white;
  fill: #0a0a0a;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.icon__star {
  cursor: pointer;
  height: 30px;
  width: 30px;
  fill: #c5b358;
  margin-right: 5px;
}

.icon:hover {
  padding: 7px;
  margin: 5px;
  fill: black;
}

.intro {
  border: 1px solid black;
  border-radius: 7px;
  padding: 15px;
  margin: 25px;
  background: #e1e1e1;
}

.intro p {
  font-weight: 600;
}

.list-box {
  padding: 7px;
  margin: 5px;
  background-color: rgba(225, 225, 225, 0.5);
  padding: 1em;
  margin: auto 2em;
  border-radius: 12px;
  -webkit-box-shadow: 1px 2px 10px rgba(175, 175, 175, 0.5), -20px 0px 20px rgba(200, 200, 200, 0.1);
          box-shadow: 1px 2px 10px rgba(175, 175, 175, 0.5), -20px 0px 20px rgba(200, 200, 200, 0.1);
  border: 1px solid #c8c8c8;
  max-width: 800px;
}

.list-box li {
  padding: 7px 7px;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1em;
  font-weight: 600;
  color: #646464;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  background: rgba(10, 10, 10, 0.3);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__card {
  height: 80vh;
  width: 80vw;
}

.multiply {
  mix-blend-mode: multiply;
  max-width: 400px;
}

.section1 {
  -webkit-columns: 400px 2;
          columns: 400px 2;
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
  padding: 7px;
}

.section2 {
  border-bottom: 1px dashed gray;
  margin-bottom: 5px;
  padding: 7px;
}

.stack {
  display: -ms-grid;
  display: grid;
}

.stack h4 {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Crimson Pro", serif;
}

.svg-quote {
  width: 30px;
  margin-bottom: -15px;
  margin-left: -5px;
}

.svg-quote-sm {
  width: 20px;
}

.title h3 {
  font-size: 2rem;
  padding-left: 25px;
}

.quote-box {
  padding: 7px;
  margin: 5px;
  padding-left: 30px;
  margin: 20px;
  padding-right: 30px;
}

.quote-box p {
  font-family: "Crimson Pro", serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

.quote-box-small {
  padding: 7px;
  margin: 5px;
  padding: 1em;
}

.quote-box-small p {
  font-family: "Crimson Pro", serif;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}

.vice {
  height: 100px;
  width: 100px;
}
/*# sourceMappingURL=main.css.map */