@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,500;0,600;1,400;1,900&display=swap");
$font-heading: "Passion One", cursive;
$font-body: "Open Sans", sans-serif;
$font-quote: "Crimson Pro", serif;
//block elements
$padding: 7px;
$margin: 5px;
$green: rgb(16, 139, 0);
$blue: rgb(0, 110, 255);
$gold: rgb(197, 179, 88);
$black: rgb(0, 0, 0);
$gray-1: rgb(50, 50, 50);
$gray-2: rgb(75, 75, 75);
$gray-3: rgb(100, 100, 100);
$gray-4: rgb(125, 125, 125);
$gray-5: rgb(150, 150, 150);
$gray-6: rgb(175, 175, 175);
$gray-7: rgb(200, 200, 200);
$gray-8: rgb(225, 225, 225);
$gray-9: rgb(250, 250, 250);
$transition: all 0.35s ease;

@mixin block {
    // basic margin and padding
    padding: $padding;
    margin: $margin;
}

@mixin border {
    border: 1px solid black;
    border-radius: 7px;
}
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

$gray: rgb(220, 220, 220);
$white: rgba(255, 255, 255, 1);
$black: rgba(10, 10, 10, 1);
// reset everything
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    background: $gray;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
a link {
    font-size: 0.8rem;
    font-family: $font-body;
    color: rebeccapurple;
}
h1 {
    @include block;
    font-size: clamp(1.8rem, 3.5rem, 6vw); /* min, val, max */
    font-family: $font-heading;
    font-weight: 900;
}
h2 {
    padding-left: $padding + 6;
    font-size: clamp(1.5rem, 1.8rem, 3vw); /* min, val, max */
    font-family: $font-heading;
    font-weight: 300;
}
h3 {
    padding-left: $padding + 6;
    font-size: clamp(1.2rem, 1.3rem, 2vw); /* min, val, max */
    font-family: $font-heading;
}
h4 {
    margin-top: $margin;
    padding-left: $padding + 10;
    font-family: $font-body;
    font-size: clamp(0.9rem, 1rem, 2vw); /* min, val, max */
    font-weight: 700;
}
h5 {
    font-size: 1.5rem;
    padding-left: 20px;
}
p {
    padding-bottom: $padding + 5;
    padding-left: $padding + 5;
    margin-bottom: $margin;
    line-height: 1.5em;
    font-size: 1rem;
    font-family: $font-body;
}
a,
link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 1rem;
    text-decoration: underline;

    // font-family: $sub-heading;
}
a:active,
a:hover,
link {
    color: black;
}
ul {
    display: block;
    padding: 5px;
    font-size: 1rem;
    color: black;
}
li {
    font-family: $font-body;
    font-size: 1rem;
    line-height: 1.5em;
    padding-left: 1em;

    margin: $margin;
}
nav {
    padding: 20px;
}
section {
    @include block;
}

small {
    font-size: 0.85rem;
    font-family: $font-body;
    font-weight: 600;
}
strong {
    @include block;
    font-size: 1rem;
    font-family: $font-body;
}

.one {
    @include block;
    height: 30px;
    font-family: $font-body;
    font-weight: 900;
    font-size: 0.9rem;
    background: rgb(115, 255, 0);
}
.two {
    @include block;
    height: 25px;
    font-family: $font-body;
    font-weight: 700;
    font-size: 0.8rem;
    color: $gray-1;
    background: rgb(255, 238, 0);
}
.three {
    @include block;
    height: 20px;
    font-family: $font-body;
    font-size: 0.7rem;
    font-weight: 400;
    color: $white;
    background: rgb(255, 51, 0);
}
.block {
    @include block;
}
.block_card {
    @include block;
    cursor: pointer;
    background: $white;
    max-width: 400px;
    small {
        @include block;
    }
}
.border {
    img {
        border-radius: 10px;
    }
}
.bugbar-icon {
    @include block;
    fill: rgba(0, 0, 0, 0.9);
    width: 2.7em;
    height: 2.7em;
    border: 1px solid rgba($black, 0.9);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.bugbar-icon:hover,
.bugbar-icon:active {
    fill: $green;
    transition: $transition;
    border: 1px solid $green;
}

.bugbarNav__col {
    @include block;
    display: grid;
    max-width: 25vw;
    grid-template-columns: repeat(9, 1fr);
}
.button__icon {
    width: 40px;
    height: 35px;
    fill: $white;
}

.citation {
    font-size: 0.8rem;
    font-weight: 500;
    font-family: $font-quote;
    margin-top: -20px;
}

.card {
    @include block;
    // @include border;
    cursor: pointer;
    margin: $margin + 5;
    background: $white;

    max-width: 400px;
    img {
        border-radius: 10px;
        @include border;
    }
}
.card__button {
    cursor: pointer;
    @include block;
    padding: $padding + 5;
    width: 100%;
    max-width: 275px;
    border: none;
    font-family: $font-quote;
    font-weight: 900;
    font-size: 1rem;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 0.2em;
    color: $white;
    transition: $transition;
    background: $blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card__button:hover {
    background: $green;
    transition: $transition;
    svg {
        fill: $black;
    }
}
.center {
    @include center;
}
.citation {
    font-size: 0.8rem;
    font-weight: 700;
    padding: $padding;
}
.container {
    position: relative;
    background: $white;
    position: relative;
    max-width: 1200px;
    margin: auto;
}

.col-2 {
    display: grid;
    grid-template-columns: 150px 1fr;
}
.col-2a {
    display: grid;
    grid-template-columns: 300px 1fr;
}
.col-2l {
    display: grid;
    grid-template-columns: 30px 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.col-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.col-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-bottom: 40px;
}

.detail-card {
    background-color: white;
    max-width: 1200px;
}
.float-left {
    float: left;
}
.first-letter {
    ::first-letter {
        font-size: 1.7rem;
        font-weight: 600;
    }
}

.grid-ish {
    display: flex;
    flex-wrap: wrap;
}

.grid-ish > * {
    flex: 1 1 300px;
}
.grid-small {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.grid-small > * {
    flex: 1 1 60px;
}
.hero-box {
    margin-top: -10px;
    height: 420px;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    h1 {
        font-size: $font-body;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    h2 {
        font-size: $font-body;
        color: $white;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
}

.menu-icon {
    cursor: pointer;
    @include block;
    height: 70px;
    width: 70px;
    background: $white;
    fill: $white;
    background: $black;
    transition: $transition;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 1px 4px;
}

.menu-icon:hover,
.menu-icon:active {
    background: $gray-8;
    transition: $transition;
    fill: $blue;
}
.icon {
    cursor: pointer;
    @include block;
    height: 50px;
    width: 50px;
    background: $white;
    // border: 1px solid gray;
    border-radius: 5px;
    fill: $gray-2;
    transition: $transition;
}
.icon:hover,
.icon:active {
    cursor: pointer;
    @include block;
    background: $gray-8;

    transition: $transition;
}
.icon-large {
    @include block;
    background-color: $blue;
    width: 50px;
    height: 50px;
    border: 2px solid $white;
    border-radius: 50%;
    fill: $white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.icon2 {
    cursor: pointer;
    @include block;
    height: 40px;
    width: 50px;
    background: $white;
    fill: $black;
    transition: $transition;
}
.icon__star {
    cursor: pointer;
    height: 30px;
    width: 30px;
    fill: $gold;
    margin-right: $margin;
}

.icon:hover {
    @include block;
    fill: black;
}
.list-box {
    @include block;
    background-color: rgba($gray-8, 0.5);
    padding: 1em;
    margin: auto 2em;
    border-radius: 12px;
    box-shadow: 1px 2px 10px rgba($gray-6, 0.5), -20px 0px 20px rgba($gray-7, 0.1);
    border: 1px solid $gray-7;
    max-width: 800px;
    li {
        padding: 7px 7px;
        font-family: $font-body;
        font-size: 1rem;
        line-height: 1em;
        font-weight: 600;
        color: $gray-3;
    }
}
.modal {
    @include center;
    position: fixed;
    background: rgba($black, 0.3);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.modal__card {
    height: 80vh;
    width: 80vw;
}

.multiply {
    mix-blend-mode: multiply;
    max-width: 400px;
}
.section1 {
    columns: 400px 2;
    border-bottom: 1px dashed gray;
    margin-bottom: $margin;
    padding: $padding;
}
.section2 {
    border-bottom: 1px dashed gray;
    margin-bottom: $margin;
    padding: $padding;
}
.stack {
    display: grid;
    h4 {
        font-size: 1rem;
        font-weight: 500;
        font-family: $font-quote;
    }
}
.svg-quote {
    width: 30px;
    margin-bottom: -15px;
    margin-left: -5px;
}

.svg-quote-sm {
    width: 20px;
    // margin-bottom: -20px;
}
.quote-box {
    @include block;
    padding-left: 30px;
    margin: 20px;
    padding-right: 30px;

    p {
        font-family: $font-quote;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1em;
        text-align: center;
    }
}
.quote-box-small {
    @include block;
    padding: 1em;

    p {
        font-family: $font-quote;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1em;
        text-align: center;
    }
}
.vice {
    height: 100px;
    width: 100px;
}
